<body>
  <form name="search-form">

    <nav id="Search-modal" class="navbar navbar-light bg-light">
      <form class="form-inline">
        <input id="input" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button id="search" class="btn btn-outline-success my-2 my-sm-0" type="submit" data-toggle="modal"
          data-target="#search-modal">Search</button>

      </form>
    </nav>
  </form>
</body>

<script>
  var SearchId;
  var searchForm = document.forms["search-form"];
  var btnSearch = document.getElementById("search");
  btnSearch.onclick = () => {
    $('.alert').alert()
    console.log("1111");
  }
</script>